.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LANDING SECTION */
/* navbar */
.navbar {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.navbar>img {
  padding: 15px 40px 0px;
}

/* header */
.header {
  text-align:left;
  padding: 10vh 40px 7vh;
}

.header>h1 {
  font-size: 4em;
  width: 40vw;
  margin: 15px 0px;
}

.header>h5 {
  font-size: 1.2em;
  font-weight: 300;
  width: 25vh;
  margin: 0px 0px 45px;
}

.header>button {
  width:170px;
  padding-top:20px;
  padding-bottom:20px;
  text-decoration: none;
  font-size: 1.4em;
  text-align: center;
  color: #3A3B3C;
  font-weight: 600;
  display: inline-block;
  border: 1px solid white;
  border-radius:7px;
  transition: 0.3s;
}

/* landing general */
.landing {
  color:white;
  margin: 20px 0px 50px;
  background-color: #3A3B3C;
}

/* FEATURES SECTION */

/* all-features */

.feature{
  width:150px;
}

/* each-feature */

.feature>h6,h3 {
  margin:5px 16px;
  text-align: left;
}

.feature>h6{
  font-size:0.8em;
  font-weight: 300;
}

.feature>img {
  width:120px;
}

/* features general */

.features{
  color: #3A3B3C;
  display:flex;
  justify-content: space-evenly;
}
